<!--<h1>Public::Customers#edit</h1>-->
<% if @public.errors.any? %>
  <%= @public.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @public.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!---->
<h1><span style="background-color:lightgray">会員情報編集</span></h1>
  <%= form_with model: @public, url: new_customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<br>
  <div class="field"><!--autofocus: true：カーソルが移動して入力状態になる→なし-->
    <%= f.label :"氏名" %>
　  　  <%= f.text_field :last_name, autocomplete: "last_name" %>
　　　　<%= f.text_field :first_name, autocomplete: "first_name" %>
  </div>
  
  <div class="field">
    <%= f.label :"フリガナ" %>
　  　  <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
　　　　<%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号" %><br>
    <%= f.text_field :postal_code, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br>
    <%= f.text_field :address, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %><br>
    <%= f.text_field :telephone_number, autocomplete: "telephone_number" %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

<!--
  <div class="field">
    %<= f.label :"パスワード(6文字以上)" %>
    %< if @minimum_password_length %>
    <em>(%<= @minimum_password_length %> characters minimum)</em>
    %< end %><br />
    %<= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field"><!--パスワード確認
    %<= f.label :"パスワード(確認用)" %><br />
    %<= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
-->

  <div class="actions">
    <%= f.submit "編集内容を保存", class: "btn btn-success" %>
    <%= f.submit "退会する", class: "btn btn-danger" %>
  </div>
<% end %>

<%= render "public/shared/links" %>

