<!--<h1>Admin::Items#index</h1>-->
<h1>商品一覧</h1>
<br>
<table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格(円)</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
  
      <tbody>
        <% @index_admin_item.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%=link_to item.name, admin_item_path(item.id) %></td><!--show画面に遷移-->
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          
          <% if item.is_active == true %><!---->
            <td><font color="green">販売中</font></td>
          <% else %>
            <td><font color="gray">販売停止中</font></td>
          <% end %>
        
        </tr>
        <% end %>
      </tbody>
</table>

<!--ページネーション-->
<%= paginate @index_admin_item %>
