<!--<h1>Admin::Customers#show</h1>-->
<h1><span style="background-color:lightgray">　<%= @show_admin_customer.last_name %><%= @show_admin_customer.first_name %>さんの会員詳細　</span></h1>
<br>
      <table border="0" class="mx-auto">
        <tr>
          <td height="50" width="200">会員ID</td>
          <td width="300"><%= @show_admin_customer.id %></td>
        </tr>
        <tr>
          <td height="50">氏名</td>
          <td width="300"><%= @show_admin_customer.last_name %> <%= @show_admin_customer.first_name %></td>
        </tr>
        <tr>
          <td height="50">フリガナ</td>
          <td><%= @show_admin_customer.last_name_kana %> <%= @show_admin_customer.first_name_kana %></td>
        </tr>
        <tr>
          <td height="50">郵便番号</td>
          <td><%= @show_admin_customer.postal_code %></td>
        </tr>
        <tr>
          <td height="50">住所</td>
          <td><%= @show_admin_customer.address %></td>
        </tr>
        <tr>
         <td height="50">電話番号</td>
          <td><%= @show_admin_customer.telephone_number %></td>
        </tr>
        <tr>
          <td height="50">メールアドレス</td>
          <td><%= @show_admin_customer.email %></td>
        </tr>
        <tr>
          <td height="50">会員ステータス</td>
              <% if @show_admin_customer.is_deleted == false %>
                <td><font color="green">有効</font></td>
              <% else %>
                <td><font color="gray">退会</font></td>
              <% end %>
        </tr>
        <tr>
         <td height="50"></td>
          <!--path(遷移先):admin/customers#edit(個人の会員情報編集)-->                        <!--path(遷移先):admin/orders#show(個人の注文履歴一覧)-->
          <td><%= link_to '編集する', edit_admin_customer_path, class: "btn btn-success" %>　<%= link_to '注文履歴一覧を見る', admin_order_path, class: "btn btn-primary" %></td>
        </tr>
      </table>