<!--<h1>Admin::Orders#show</h1>-->
<br>
<h1><span style="background-color:lightgray" class="m-5">　注文履歴詳細　</span></h1>
<br>
  <table border="0" class="mx-auto">
    <tr>
      <td height="50" width="200">購入者</td>
      <td width="300"><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
    </tr>
    <tr>
      <td height="50">注文日</td>
      <td width="300"><%= @order.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d") %></td>
      <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
      <!--.strftime("%Y-%m-%d")→UTCを消して時刻のフォーマットに変更する-->
    </tr>
    <tr>
      <td height="50">配送先</td>
      <td colspan="2">
          〒<%= @order.postal_code %>　<%= @order.address %><br>
          <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td height="50">支払方法</td>
      <td><%= @order.payment_method_i18n %></td><!--i18n→日本語に変換する-->
    </tr>
    <tr>
      <td height="50">注文ステータス</td><!--プルダウン-->
      <td>
          <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch, local: true do |f| %>
            <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
            <!--ブラウザには日本語で表示→英語でデータを渡すために、再度英語に変換する-->
      </td>
      <td><%= f.submit "更新" , class: "btn btn-success" %></td>
          <% end %>
    </tr>
  </table>
  
<br><br>

<div class="container">
  <div class="row">
    <div class="col-9"><!--左側-->
    <table class="table">
      <thead>
        <tr bgcolor="lightgray" height="50">
          <th width="1000">商品名</th>
          <th width="300">単価(税込)</th>
          <th width="150">数量</th>
          <th width="200">小計</th>
          <th width="400">製作ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr height="50">
            <!--商品名-->
            <td><%= order_detail.item.name %></td>
            <!--単価(税込)-->
            <td><%= order_detail.item.tax_included_price.to_s(:delimited) %></td>
            <!--数量-->
            <td><%= order_detail.amount %></td>
            <!--小計-->
            <td><%= order_detail.subtotal_price.to_s(:delimited) %></td>
            <!--製作ステータス-->
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch, local: true do |f| %><!--admin/order_details#update-->
            <!--ブラウザには日本語で表示→英語でデータを渡すために、再度英語に変換する-->
              <td><%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                  <%= f.submit "更新", class: "btn btn-success" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div><!--col-9-->

    <div class="col-3"><!--右側-->
      <table border="0">
          <tr height="50">
            <td width="200"><b>商品合計</b></td>
            <td><%= @order.total_payment.to_s(:delimited) %>円</td>
          </tr>
          <tr height="50">
            <td><b>送料</b></td>
            <td width="150"><%= @order.shipping_cost %>円</td>
          </tr>
          <tr height="50">
            <td><b>請求金額合計</b></td>
            <td><%= (@order.total_payment + @order.shipping_cost).to_s(:delimited) %>円</td>
          </tr>      
      </table>
    </div><!--col-3-->
  </div><!--row-->
</div><!--container-->
<br>
