<!--<h1>Admin::Homes#top</h1>-->
<h1><span style="background-color:lightgray">　注文履歴一覧　</span></h1>
<br>
<table class="table" style="display:flex; justify-content:center">
  <tr bgcolor="lightgray" height="50">
    <th width="250">購入日時</th>
    <th width="300">購入者</th>
    <th width="200">購入個数</th>
    <th width="200">注文ステータス</th>
  </tr>
  
<% @top_admin_home.each do |top| %>
    <tr height="50">
      <!--購入日時--><!--admin/orders#show画面に遷移-->
      <td><%=link_to top.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(top.id) %></td>
      <!--.in_time_zone('Tokyo')→UTC(協定世界時刻のデフォルト値)をJST(日本時間)に換算する-->
      <!--.strftime("%Y-%m-%d %H:%M:%S")→UTCを消して時刻のフォーマットに変更する-->
      <td><%= top.name %></td>
      <!--top.amountだとorderテーブルのamountカラムになってしまう。その注文に紐づいている注文商品数-->
      <td><%= top.order_details.sum(:amount) %></td><!--個人の注文数量総計-->
      <td><%= top.status %></td>
    </tr>
<% end %>
</table>
<br>
<!--ページネーション-->
<!--https://getbootstrap.jp/→ドキュメント→検索-->
<div class="d-flex justify-content-center"><%= paginate @top_admin_home %></div>
