<!--<h1>Public::Addresses#index</h1>-->
<h1><span style="background-color:lightgray">  配送先登録/一覧  </span></h1>
<br>
  <%= form_with model: @address, url: addresses_path do |f| %><!--url(遷移先):public/addresses#create-->
    <table border="0" style="display:flex; justify-content:center">
      <tr height="50">
        <td width="200">郵便番号(ハイフンなし)</td>
        <td width="250"><%= f.text_field :postal_code %></td>
      </tr>
      
      <tr height="50">
        <td>住所</td>
        <td><%= f.text_area :address, size: "50" %></td>
      </tr>
      
      <tr height="50">
        <td>宛名</td>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
      </tr>
    </table>
  <% end %>

<br><br>
  <table border="1" width="1000" class="mx-auto"><!--ボーダーを入れるときは←の設定する(widthはtdの総計)-->
    <tr bgcolor="lightgray" style="text-align:center" height="50">
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  
    <% @index_public_address.each do |address| %>
    <tr height="80">
      <td width="100"><%= address.postal_code %></td>
      <td width="400"><%= address.address %></td>
      <td width="200"><%= address.name %></td>
      <td width="300" align="center">
        <!--遷移先：public/addresses#edit(配送先編集)-->
        <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>　　
        <!--遷移先：public/addresses#destroy-->
        <%= link_to "削除する", address_path(address.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </td>
    </tr>
    <% end %>
  </table>