<!--<h1>Public::Sessions#new</h1>Log in-->
<!--ログイン時にnameを使用する場合、nameカラムを追加する必要がある-->
<!--参考：https://qiita.com/yuki82511988/items/73659af9d1049bd1b256-->

<h1><span style="background-color:lightgray">ログイン</span></h1>
<br>
<h3><span style="background-color:lightgray">会員の方はこちらからログイン</span></h3>
  <!--form_forのままでOK-->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%#= form_with model: @public, url: new_customer_session_path do |f| %>

      <table border="0" class="mx-auto">
        <tr>
          <td height="50" width="150"><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        
        <tr>
          <td height="50"><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        
        <tr>
          <td height="50"></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </table>

  <!--パスワード記憶-->
  <%# if devise_mapping.rememberable? %>
    <!--<div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <!--</div>-->
  <%# end %>
<% end %>

<br><br>
<h3><span style="background-color:lightgray">会員登録がお済みでない方</span></h3>
<p><%= render "public/shared/links", text: "こちら" %>から新規登録を行ってください。</p>
