<!--<h1>Public::Items#show</h1>-->
<br>
<div class="container">
  <div class="row">
      
<!--サイドバー-->
  <div class="col-lg-2">
    <table class="table" style="display:flex; justify-content:center">
      <tr bgcolor="lightgray" style="text-align:center" height="50">
        <th>ジャンル検索</th>
      </tr>
      <% @genres.each do |genre| %>
      <tr height="50">
        <td width="150"><%= genre.name %></td>
      </tr>
      <% end %>
    </table>
  </div>
    
<!--メイン-->
  <div class="col-lg-10">
      <table border="0" style="display:flex; justify-content:center">
        <tr>
          <td rowspan="6"  width="350"><!--セル結合:colspan(列の長さ)、rowspan(行の長さ)-->
            <% if @show_public_item.image.attached? %>
              <%= image_tag @show_public_item.image, size: "300x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "300x300" %>
            <% end %>
          </td>
        </tr>
        <tr><!--ジャンル、税抜不要-->
          <td height="50"><h3><%= @show_public_item.name %></h3></td><!--商品名-->
        </tr>
        <tr>
          <td height="100"><%= @show_public_item.introduction %></td><!--説明文-->
        </tr>
        <tr>
          <!--税込価格の計算式/nagano_cake/app/models/item.rb-->
          <td height="50"><h4>￥ <%= @show_public_item.tax_included_price %>(税込)</h4></td><!--税込価格-->
        </tr>
        <tr>
          <!--プルダウンの実装-->
          <td>
            <%= form_with model: @cart_item, url: cart_items_path do |f| %><!--path遷移先:public/cart_items#create-->
              <%= f.select :amount, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9]] %>　　　
              <%= f.hidden_field :item_id, :value => @show_public_item.id %>
              <!--カート内商品一覧画面(public/cart_items#index)に遷移-->
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
  </div>
<br>